$base-active-dark-blue-color: #1C2A39;
$base-grey-color: #5C6A79;
$base-btn-border-active-color: #4C3DB2;
$base-btn-text-active-color: #4C3DB2;
$base-btn-border-passive-color: #EEEDF5;
$base-btn-text-passive-color: #EEEDF5;
$base-active-dot-book-category: #756AD3;
$base-slider-active-dot:#9E98DC;
$base-slider-passive-dot: #EFEEF6;
$base-colored-blocks-color: #FF8FE6;
$base-cart-count-bg-color: #FF353A;
$base-star-color: #F2C94C;